* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-weight: 500;
    font-family: 'Inter', sans-serif;
}

.container {
    height: 450px;
    margin-left: 350px;
    margin-top: 50px;
    border: 2px solid black;
}

.title {
    font-weight: 500;
    margin: 20px 20px;
}

.courses {
    display: flex;
    justify-content: space-between;
}

.course-item {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;

}

.course__item-value {
    padding-top: 15px;
    font-size: 35px;
}

.course__item-title {
    font-size: 20px;
}

footer {
    margin: 20px;
    text-align: center;
}