* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

body {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
}

.container {
    height: 450px;
    margin-left: 350px;
    margin-top: 50px;
    border: 2px solid black;
    border-radius: 8px;
}

.title {
    font-weight: 500;
    margin: 20px 20px;
}

.courses {
    display: flex;
    justify-content: space-between;
}

.course-item {
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border: 2px solid black;
}

.top {
    color: #01d201;
}

.bottom {
    color: red;
}

.course-item-value {
    padding-top: 15px;
    font-size: 35px;
}

.course__item-title {
    font-size: 20px;
}

.date {
    margin-top: 50px;
    display: flex;
    justify-content: right;
}

footer {
    margin: 20px;
    text-align: center;
}

/* ----------------------- Media Query ----------------------- */

/* For Desktop */
@media screen and (min-width: 1024px) {

}

/* For Tablet */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

}

/* For Mobile Portrait */
@media screen and (max-device-width: 480px) {
    .container {
        height: 1000px;
        margin: 5px;
        border: 2px solid black;
        border-radius: 8px;
    }

    .courses {
        gap: 10px;
        display: flex;
        flex-direction: column;
    }

    .course-item {
        width: 250px;
        height: 150px;
        padding: 10px;
        margin-left: 20px;
        margin-right: 20px;
        border: 2px solid black;
    }

    .row {
        display: flex;
        flex-direction: column;
    }

    .title {
        font-weight: 500;
        margin: 20px 20px;
        font-size: 24px;
    }
}

/* For Mobile Landscape  */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {

}

/* For Mobile Phones Portrait or Landscape */
@media screen and (max-device-width: 640px) {

}

@media screen and (min-device-width: 320px) {

}







